* {
    box-sizing: border-box;
}
body{
    background: #62faff;
    font-family:Bradley Hand, cursive;
}

.container {
    border: 3px solid #000;
    background-color: #888888;;
    overflow: hidden;
    margin: 10px;
}

.container__block {
    width: 200px;
    height: 100px;
    border: 3px solid #000;
    background-color: lightcoral;
    font-size: 20px;
    margin: 10px;
}



.container__block--right {
    float: right;
}

.container__block--left {
    float: left;
}

.containerfour {
    border: 3px solid #000;
    background-color: #888888;;
    overflow: hidden;
    margin: 10px;
}


.containerfour__block--oll{
    float: right;
    
}
.containerfour__block--left {
    width: 200px;
    height: 211px;
    border: 3px solid #000;
    background-color: lightcoral;
    font-size: 20px;
    margin: 10px;
    margin-right: 10px;
    float: left;
    

}
.containerfour__block--right {
   float: right;
}

.containerfive {
    border: 3px solid #000;
    background-color: #888888;;
    overflow: hidden;
    margin: 10px;
}
   

.containerfive__block--left {
    width: 200px;
    height: 211px;
    border: 3px solid #000;
    background-color: lightcoral;
    font-size: 20px;
    margin: 10px;
    margin-right: 10px;
    float: left;
    

}
.containerfive__block--right {
   float: right;
}

.containerfive__block--oll {
    overflow: auto;
    margin: 0 auto;
    width: 446px;
}

nav {
    border: 3px solid #000;
    background-color: bisque;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}
.navi__link{
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: chartreuse;
    text-decoration: none;
    color: rgb(151, 7, 7);
    box-shadow: 10px 10px 5px #000;
}

.navi a:hover {
    background-color: rgb(90, 180, 0);
}
    